.about {
  margin-top: 12px;
  width: 100%;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  
  // height: 330px;
  background-color: $lightSilver;
  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__shape {
    background-color: $white;
    border: 1px solid $silverApple;
    border-radius: 25px;
    padding: 32px;
    & + & {
      margin-top: 25px;
    }
  }
  &__wrap {
    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }
    &-center {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
  &__develop {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 195px;
    min-height: 195px;
    overflow-y: auto;

    // padding-top: 0;
    // padding-bottom: 0;
    &-text {
      color: $black;
      max-width: 385px;
      vertical-align: middle;
    }
    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      margin-bottom: 8px;
    }
    &-description {
      // font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      // color: $white;
    }
  }
  &__duration {
    text-align: center;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 30px;
    padding-right: 30px;

    width: 100%;
    max-width: 360px;
    &-title {
      font-size: 18px;
      opacity: 0.75;
      text-align: left;
      font-weight: 500;
      text-align: left;
      margin-bottom: 25px;
    }
    &-error {
      display: inline-block;
      font-weight: 600;
      color: $silver;
      font-size: 44px;
      text-decoration: line-through;
      margin-bottom: 5px;
    }
    &-success {
      display: block;
      font-weight: 600;
      margin-left: auto;
      margin-right: auto;

      font-size: 44px;
      background-image: linear-gradient(120deg, #eb4f56, #9d66e9);
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__experience {
    text-align: center;
    padding: 50px 80px;
    &-title {
      font-size: 24px;
      word-spacing: -10px;
      background-image: linear-gradient(225deg,#5af141,#2a9dce);
      -webkit-background-clip: text;
      background-size: 100%;   
      -webkit-text-fill-color: transparent;
    }
    &-num {
      font-size: 64px;
    }
    &-subtitle {
      font-size: 16px;
      color: $darkSilver;
    }
  }
  &__builder {
    padding: 35px;
    text-align: center;
    background-color: $white;


    &-title {
      display: inline;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;

      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgb(0, 163, 238) 100.2% );
      -webkit-background-clip: text;
      background-size: 100%;   
      -webkit-text-fill-color: transparent;
      sup {
        display: inline;

        -webkit-background-clip: text;
        background-image: linear-gradient(225deg, #5af141, #2a9dce);
        background-size: 100%;

        font-size: 26px;
        font-weight: 400;
      }
    }
  }
  &__distance {
    position: relative;
    text-align: center;
    &-title {
      font-size: 44px;
      font-weight: 350;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
      margin-bottom: 10px;
    }
    &-global {
      margin-left: -14px;
      vertical-align: text-top;
      max-width: 28px;
    }
    &-link {
      display: inline-block;
      font-size: 18px;
      text-align: center;
      color: $blue;
      margin: auto;
    }
  }
  &__skills {
    text-align: center;
    padding: 20px 30px;
    margin-right: 0;
  }
  &__frontend {
    &-svg {
      width: 60px;
      height: 60px;
      margin-bottom: 30px;
    }
    &-title {
      // font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      color: $black;
      margin-bottom: 15px;
    }
    &-subtitle {
      // font-family: Nunito;
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      
      color: $softSilver;
      max-width: 312px;
      margin-bottom: 20px;
    }
  } 
  &__skills {
    display: none;
    &-title {
      // font-family: Nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      // margin-bottom: 10px;
      
      color: $primary;
      &--margin {
        margin-bottom: 10px;
      }
    }
    &-subtitle {
      // font-family: Nunito;
      // font-style: normal;
      font-weight: 300;
      line-height: 20px;
      font-size: 14px;
      color: $black;
      // margin-bottom: 20px;
    }
  }
  &__features {
    background-color: $white;
    color: $white;
    &-title {
      text-align: center;
      font-size: 22px;
      color: $green;
      font-weight: 300px;
      margin-bottom: 28px;
    }
    &-icon {
      &s {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 255px;
      gap: 18px 18px;
      }
      width: 70px;
    }
    &-more {
      display: block;
      text-align: center;
      margin: auto;
      margin-top: 14px;
      color: $darkBlue;
      font-size: 26px;
      font-weight: 1000;
    }
  }
  &__wrap {
    &--margin {
      margin-bottom: 20px;
    }
  }
}
