.header {
  width: 100%;
  position: relative;
  &__container {
    position: relative;
  }
  &--margin {
    padding-top: 20px;
    // padding-bottom: 10px;
  }
  &__wrap {
    &-logo {
      position: relative;
    }
  }
  &__logo {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    padding: 8px;
    padding-bottom: 5px;
    
    background-color: #fff;
    // background-clip: padding-box;
    
    border-radius: 100%;
    // Border start
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -4px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(180deg, $primary 0%, #FF00A8 100%);
    }
    // Border end
  }
  &__sy-logo {
    width: 40px;
    height: 38px;
    display: inline-block;
  }
  &__name {
    position: absolute;
    display: inline-block;

    color: $black;

    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;

    top: 50%;
    transform: translateY(-50%);
  }
  // END Header Logo

  // START Header Navigation
  &__nav {
    position: fixed;
    top: 25px;
    right: 35px;
    z-index: 2;

    &-button {
      display: block;

      color: $black;
      font-size: 16px;

      text-decoration: none;
      text-transform: uppercase;
      box-shadow: 0px 25px 20px -20px; 
      transition: all 200ms; 
      &:hover {
        color: $primary;
        box-shadow: rgba($primary, 1);
      }
      & + & {
        margin-top: 15px;
      }
    }
  }


  &__menu {
    display: none;
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    // background-color: rgba($primary, 0.1);

    box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 49%);
    -webkit-box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 49%);
    -moz-box-shadow: -0px 0px 20px 3px rgb(0 0 0 / 49%);

    height: 70px;
    width: 75px;
    border-bottom-left-radius: 100%;
  } // Menu
  &__mobile {
    &-checkbox {
      display: none;
      visibility: hidden;
      opacity: 0;
      &:checked {
        & ~ .header__mobile {
          &-nav {
            top: 0;
            right: 0;
            & > .header__mobile-item {
              color: $mobileMenuColor;
              opacity: 1;
              transform: scale(1);
              transition: 500ms, opacity 0.1s;
            } // item
            right: 0;
          } // nav
        } // header__mobile

      } // checked
    }

    &-wrap-btn {
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      height: 42px;
      border-radius: 100%;
      margin-top: 5px;
      box-shadow: 0 0 0 -5px transparent, inset 0 0 0 -5px transparent;
      float: right;

      transition: all 500ms;
      &:hover {
        box-shadow: 0 0 0 -1px transparent, inset 0 0 0 30px rgba($mobileMenuColor, 0.9);
        cursor: pointer;

        & > .header__mobile-btn {
          background-color: $white;
          &:before, &:after {
            background-color: $white;
          }
        }
      }
    }
    &-btn {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background-color: $mobileMenuColor;
      // border: none;
      transition: all 500ms;
      &:before, &:after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 3.5px;
        background-color: $mobileMenuColor;
        border-radius: 5px;
        transition: 500ms;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
    &-nav {
      position: absolute;
      display: block;
      top: -100%;
      right: -100%;

      transition: 90ms;
    }
    &-item {
      position: relative;
      display: block;
      text-align: right;
      color: transparent;
      font-size: 14px;
      text-transform: uppercase;
      transform: scale(0.2);
      transition: 500ms, opacity 1s;
    }
  } // Mobile

} // .header