.header {
  width: 100%;
  position: relative;
  &--margin {
    padding-top: 20px;
    // padding-bottom: 10px;
  }
  &__wrap {
    &-logo {
      position: relative;
    }
  }
  &__logo {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    padding: 8px;
    padding-bottom: 5px;
    
    background-color: #fff;
    // background-clip: padding-box;
    
    border-radius: 100%;
    // Border start
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -4px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(180deg, #593EFF 0%, #FF00A8 100%);
    }
    // Border end
  }
  &__sy-logo {
    width: 40px;
    height: 38px;
    display: inline-block;
  }
  &__name {
    position: absolute;
    display: inline-block;

    color: $black;

    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;

    top: 50%;
    transform: translateY(-50%);
  }
  // END Header Logo

  // START Header Navigation
  &__nav {
    position: fixed;
    top: 25px;
    right: 35px;

    &-button {
      display: block;

      color: $black;
      font-size: 16px;

      text-decoration: none;
      text-transform: uppercase;
      box-shadow: 0px 25px 20px -20px; 
      transition: all 200ms; 
      &:hover {
        color: $primary;
        box-shadow: rgba($primary, 1);
      }
      & + & {
        margin-top: 15px;
      }
    }
  }
  &__container-list {

  }

} // .header