.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  border-bottom: 0.2px solid $silverC4;
  // background-color: rgba($black, 0.5);
  background-color: rgba($white, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__wrap {
    &-logo {
      position: relative;
    }
  }
  &__name {
    display: inline-block;

    color: $black;
    // color: $white;

    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;

    // top: 50%;
    // transform: translateY(-50%);
  }
  // END Header Logo

  // START Header Navigation
  &__nav {
    z-index: 2;
    text-align: center;

    transition: all 350ms;
    &-button {
      display: inline-block;
      color: $black;
      font-size: 14px;

      text-decoration: none;
      transition-duration: 200ms; 
      padding: 5px;

      border-radius: 14px;
      & + & {
        margin-left: 3px;
      }
      &:hover {
        background-color: $silver;
      }
    }
  }

  &__request {
    font-size: 17px;
    padding: 4px;
    color: $blue;
    border-radius: 12px;

    transition: all 250ms;
    &:hover {
      color: $blueFeature;
    }
  }

  &__menu {
    display: none;
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 0;

    // height: 70px;
    // width: 75px;
    // border-bottom-left-radius: 100%;
    z-index: 5;
  } // Menu
  &__mobile {
    &-checkbox {
      display: none;
      visibility: hidden;
      opacity: 0;
      &:checked {
        & ~ .header__mobile {
          &-nav {
            display: block;
            visibility: visible;
            opacity: 1;
            
            max-width: auto;
            width: auto;
            transform: translateX(0%) translateY(0%);

            & > .header__mobile-item {
              color: $white;
              transform: scale(1);
            } // item
            right: 0;
          } // nav
          &-wrap-btn {
            margin-right: 10px;
            &:hover {
              box-shadow: unset;
              background-color: $white;
              & > .header__mobile-btn {
                &:before, &:after {
                  background-color: $mobileMenuColor; 
                }
              }
            }
          & > .header__mobile-btn {
            background-color: transparent;
            &:before, &:after {
              background-color: $white;
            }
            &:before {
              transform: rotate(45deg);
              top: unset;
            }
            &:after {
              transform: rotate(-45deg);
              bottom: unset;
            }
          }
          }
        } // header__mobile

      } // checked
    }

    &-wrap-btn {
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      height: 42px;
      border-radius: 100%;
      margin-top: 5px;
      box-shadow: 0 0 0 -5px transparent, inset 0 0 0 -5px transparent;
      float: right;
      z-index: 1;

      transition-duration: 500ms;
      &:hover {
        box-shadow: 0 0 0 -1px transparent, inset 0 0 0 30px rgba($mobileMenuColor, 0.9);
        cursor: pointer;

        & > .header__mobile-btn {
          background-color: $white;
          &:before, &:after {
            background-color: $white;
          }
        }
      }
    }
    &-btn {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background-color: $mobileMenuColor;
      // border: none;
      transition-duration: 500ms;
      &:before, &:after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 3.5px;
        background-color: $mobileMenuColor;
        border-radius: 5px;
        transition-duration: 500ms;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
    &-nav {
      position: absolute;
      top: -2px;
      right: 0;

      display: none;
      visibility: hidden;
      opacity: 0;

      text-align: right;
      padding: 70px 10px 70px 70px;

      background-color: rgba($mobileMenuColor, 1);
      z-index: -1;
      border-bottom-left-radius: 100%;
      transform: translateX(100%) translateY(-100%);

      transition: all 1ms;
      color: $white;
    }
    &-item {
      display: inline-block;
      transform: scale(0.1);

      font-size: 16px;
      font-weight: 400;
      color: transparent;
      text-transform: uppercase;

      padding: 5px;

      transition-duration: 350ms;
      & + & {
        margin-top: 5px;
      }
      &:hover {
        background-color: $white;
        color: $mobileMenuColor !important;
      }
    }
  } // Mobile

} // .header