.offer {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $white;
  margin-top: 12px;
  margin-bottom: 12px;
  &__header {
    &-title {
      text-align: center;
      font-family: system-ui;
      font-style: normal;
      font-weight: 300;
      font-size: 42px;
      color: $black;
      &-pre {
        color: hsl(266, 94%, 52%);
        font-size: 22px;
      }
    }
    margin-bottom: 50px;
  }
  &__main-image {
    &-wrap {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-40%);
      max-width: 417px;
      margin: auto;
    }
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
  }
  &__block-left, &__block-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    z-index: 2;
  }
  &__block-right {
    margin-top: 72px;
  }
  &__item {
    text-align: center;

    -webkit-box-shadow: inset 0px 0px 10px 150px rgba($blueFeature, 0.10);
    border-radius: 100px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;

    &-text {
      display: inline-block;
    }
    &-title {
      // font-family: Barlow;
      font-family: system-ui;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;

      margin-bottom: 7px;
    }
    &-about {
      // font-family: Barlow;
      // font-family: system-ui;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      // line-height: 14px;

      max-width: 245px;
      
      color: #5E5E5E;
    }
    &-offer {
      // font-family: Barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      float: right;
      color: #4D4DFF;
      vertical-align: middle;

      border-left: 3px solid $primary;
      border-radius: 2px;
      padding-left: 10px;
      
      &-type  {
        display: block;
      }
    }
  }
  &__footer {
    &-wrap {
      max-width: 100%;
      text-align: center;
    }
    &-btn {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;

      padding: 11px 14px;

      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: $white;
      border-radius: 20px;
      background: linear-gradient(92.29deg, #0FB06D -3.97%, #4DA7EA 100%);
      transition: all 350ms;
      text-align: center;
      &:hover {
        background: #4DA7EA;
      }
    }
  }
}