.offer {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $white;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgba(#7512f8, 0.06);
  &__header {
    &-title {
      text-align: center;
      font-family: system-ui;
      font-style: normal;
      font-weight: 300;
      font-size: 42px;
      color: $black;
      &-pre {
        font-size: 26px;

        background-image: linear-gradient(225deg, #5af141, #2a9dce);
        -webkit-background-clip: text;
        background-size: 100%;
        -webkit-text-fill-color: transparent;
      }
    }
    margin-bottom: 50px;
  }
  &__main-image {
    &-wrap {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-40%);
      max-width: 417px;
      margin: auto;
    }
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
  }
  &__block {
    &-one, &-two {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      z-index: 2;
    }
    &-two {
      margin-top: 30px;
    }
  }
  &__block-bottom {
    margin-top: 35px;
  }
  &__item {
    text-align: center;

    -webkit-box-shadow: inset 0px 0px 10px 150px rgba($white, 0.85);
    border-radius: 100px;
    border: 1px solid $silverApple;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;

    &-text {
      display: inline-block;
    }
    &-title {
      color: $blueFeature;
      font-family: system-ui;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;

      margin-bottom: 7px;
    }
    &-about {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;

      max-width: 245px;
      
      color: $primary2;
    }
    &-offer {
      &-type  {
        display: block;
      }
    }
  }
  &__footer {
    &-wrap {
      max-width: 100%;
      text-align: center;
    }
    &-btn {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;

      padding: 11px 14px;

      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: $white;
      border-radius: 20px;
      background: linear-gradient(92.29deg, #0FB06D -3.97%, #4DA7EA 100%);
      transition: all 350ms;
      text-align: center;
      &:hover {
        background: #4DA7EA;
      }
    }
  }
}