$container-side: 8.33%;

.container {
  display: block;
  max-width: 1256px;
  width: 83.34%;
  margin-left: auto;
  margin-right: auto;
  //  .about__container use it (independed)
}

.container-full {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}