.container {
  display: block;
  max-width: 83.34%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}