$black: #000;
$primary: #593EFF;
$primary2: #7510F7;
$darkSilver: #4B4B4B;
$softSilver: #717171;
$x2SoftSilver: #E5E5E58C;
$white: #fff;
$green: #00C773;
$blue: #2196F3;
$primaryOrange: #FFC700CC;

a {
  text-decoration: unset;
  color: $black;
}

.scroll-down {
  color: $softSilver;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    color: $black;
  }
}

.container {
  // border: 1px dashed $green;
}